body {
    background-color: rgba(54, 57, 60);;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    zoom: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

a {
    color: aqua;
}
canvas {
    image-rendering: pixelated;
    outline: solid 5px #777;
    background-color: #777;
    white-space: nowrap;
}

.picker {
    margin-top: 10px;
    padding: 2px;
    height: 6vh;
    display: flex;
    align-items: center;
}
.col {
    margin: 3px;
    height: 4vh;
    flex: 1 1 0px;
    white-space: nowrap;
    border-radius: 3px;
    transition-duration: 0.1s;
    cursor: pointer;
}
button {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition-duration: 0.1s;
    margin: 0px 5px;
    color: white;
}
.popup {
    position: fixed; 
    display: flex;
    align-content: center;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.66);
    z-index: 3;
    text-align: center;
}

.popupbox {
    background-color: rgba(54, 57, 60);
    border-radius: 5px;
    width: 500px;
    padding: 10px 5px 30px 5px;
}

.popupdesc {
    margin-top: 0px;
    width: 400px;
    margin: auto;
    line-height: 24px;
}

button, input {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}



button:hover { transform: scale(1.05); }
button:active { transform: scale(1.1); }
.col:hover { transform: scale(1.05); }
.col:active { transform: scale(1.1); }